<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GUDLFT Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="container">
    <h1>GUDLFT Registration</h1>
  </header>
  <main class="container">
  <div class="card">
  <h2>Welcome to the GUDLFT Registration Portal!</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required/>
        <button type="submit">Enter</button>
    </form>
</body>
</html>